<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inmerse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
          </tr>
        </thead>
        <tr>
          <td><%= image_tag @room.get_image, size: '50x50' %></td>
          <td><%= @room.name %></td>
          <td><%= @room.introduction %></td>
          <td>
            <% @room.users.each do |member| %>
              <%= member.name %>
            <% end %>
          </td>
          <td>
            <% if @room.is_owned_by?(current_user) %>
              <%= link_to 'Edit', edit_room_path(@room), class: "btn btn-sm btn-success" %>
              <%= link_to room_new_mail_path(@room) do %>
              <i class="fas fa-paper-plane"></i>
              Mail
              <% end %>
            <% elsif @room.users.include?(current_user) %>
              <%= link_to 'Leave this group', room_path(@room), method: :delete, class: "btn btn-sm btn-danger" %>
            <% else %>
              <%= link_to 'Join this group', room_join_path(@room), class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
